{% extends "people/details/base.html" %}
{%block tab_user_comment%}active{%endblock%}
{% block breadcrumb %}{{ block.super }} &raquo; <span>Comments</span>{% endblock %}
{% block detail %}

{% if object.comment_set %}
<h1>Comments by {{object.name}}</h1>
{% makeobjectlist object.comment_set addtion_filter=order('-mtime') paginate_by=10 as comment_list%}
{% load paginator %}
{% paginator %}<div class='comments_list'>
{% render comment_list templatetype=target%}
</div>
{% paginator %}
{% else %}
{{object.name}} not yet write any comment
{% endif %}


{% endblock %}