<span class='tags'>
<span class='tagscontainer'>
{% block tags %}
{% for tag in taggable.tags %}
<a class='tag' href='{%url taggable.views.show_by_tag tag=tag%}' title='{{tag}}'><span class='tagtext'>{{tag}}</span>
{% if editable %}
<span class='remove' href='{%url taggable.views.remove_tags%}?tags={{tag}}&target={{taggable.target.key}}' title='Click to remove tag: {{tag}}'>&nbsp;</span>
<span class='undo' href='{%url taggable.views.add_tags%}?tags={{tag}}&target={{taggable.target.key}}' title='Undo remove tag: {{tag}}'>&nbsp;</span>
{% endif %}
</a>
{% endfor %}
{% endblock %}
</span>

{% if editable %}
<form id='addtags' action='{%url taggable.views.add_tags_form%}'>
<input type='input' name='tags'/>
<input type='hidden' name='target' value='{{target.key}}'/>
<input type='hidden' name='returnurl' value='{{request.path_info}}'/>
<input type='submit' value='Add tags' class='awesome blue small'></input>
</form>
<script>_JS_MODULE_TAG=1;</script>
{% endif %}
</span>